# ==========================================
# POSTGRESQL CONFIGURATION (Docker & App)
# ==========================================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=whitewolf_db
DB_USER=whitewolf_user
DB_PASSWORD=my_super_secure_dev_password_2026

# ==========================================
# FASTAPI / WHITE WOLF APP CONFIGURATION
# ==========================================
PORT=8000
WW_SECRET_KEY=ww_secret_global_fallback_key_xyz_789
logging_level=DEBUG
JWT_SECRET_PLAYER=PLAYER_JWT
JWT_SECRET_DEVELOPER=DEVELOPER_JWT

# ==========================================
# FRONTEND CONFIGURATION
# ==========================================
VITE_APP_VERSION=v1.0.0 Stable
VITE_APP_URL=http://localhost:8000